<div class="cont">
    <div class="form sign-in">
      <h2>Nueva Cancion</h2>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <form name="cancionForm" #cancionForm="ngForm" (ngSubmit)="newSong(cancionForm)">
      <label>
        <span>Nombre *</span>
        <input name="nombre" type="text" #nombre="ngModel"  pattern="^[a-zA-Z ]*$"  [class.is-invalid]="nombre.invalid && nombre.touched" 
         [(ngModel)]="cancionesService.selectedCancion.nombre"  required
        minlength="4" maxlength="30"/>
        <div *ngIf="nombre.errors && nombre.touched">
          <small class="text-danger" *ngIf="nombre.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="nombre.errors.pattern || nombre.errors.minlength || nombre.errors.maxlength">Este campo debe tener entre 4 y 30 carácteres alfabéticos</small>
        </div>
      </label>
      <label>
        <span>Genero *</span>
        <input name="Genero" type="number" #Genero="ngModel" [(ngModel)]="cancionesService.selectedCancion.Genero" pattern="^[0-9 ]*$" [class.is-invalid]="Genero.invalid && Genero.touched"
         required/>
         <div *ngIf="Genero.errors && Genero.touched">
          <small class="text-danger" *ngIf="Genero.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="Genero.errors.pattern || Genero.errors.minlength || Genero.errors.maxlength">Este campo debe tener un numero entre 0 y 9</small>
        </div>
      </label>
      <label>
        <span>Artista *</span>
        <input  name="Artista" type="text" #Artista="ngModel" [(ngModel)]="cancionesService.selectedCancion.Artista"  pattern="^[a-zA-Z ]*$"  [class.is-invalid]="Artista.invalid && Artista.touched" 
          required>
          <div *ngIf="Artista.errors && Artista.touched">
            <small class="text-danger" *ngIf="Artista.errors.required">Este campo es obligatorio</small>
            <small class="text-danger" *ngIf="Artista.errors.pattern || Artista.errors.minlength || Artista.errors.maxlength">Este campo debe tener un numero entre 0 y 9</small>
          </div>
      </label>
      <label>
        <span>Imagen *</span>
        <input  name="imagen" type="text" #imagen="ngModel" [(ngModel)]="cancionesService.selectedCancion.imagen"  [class.is-invalid]="imagen.invalid && imagen.touched" required/>
        <div *ngIf="imagen.errors && imagen.touched">
          <small class="text-danger" *ngIf="imagen.errors.required">Este campo es obligatorio</small>
        </div>
      </label>
      <button [disabled]="cancionForm.invalid" type="submit" class="submit"> Guardar </button>
      <button type="button" routerLink="/canciones"  class="volver"> Volver  </button>

    </form>
      </div>
      </div>