
<div class="cont">
  <div class="form sign-in">
    <h2>Bienvenido</h2>
    
    <form name="loginForm" #loginForm="ngForm"  (ngSubmit)="logIn(loginForm)" validate>
    <label>
      <span>Nombre de Usuario</span>    
      <input name="nombreUsuario"type="text" #nombreUsuario="ngModel" minlength="3" maxlength="20" pattern="[a-zA-ZñÑ]*"
         [(ngModel)]="loginService.selectedLogin.nombreUsuario" [class.is-invalid]="nombreUsuario.invalid && nombreUsuario.touched" required/>
         <div *ngIf="nombreUsuario.errors && nombreUsuario.touched">
          <small class="text-danger" *ngIf="nombreUsuario.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="nombreUsuario.errors.pattern || nombreUsuario.errors.minlength">Este campo debe tener entre 3 y 20 carácteres alfabéticos</small>
        </div>
      </label>
    <label>
      <span>Contraseña</span>
      <input name="contrasenya"type="password" #contrasenya="ngModel" minlength="3" maxlength="20" 
         [(ngModel)]="loginService.selectedLogin.contrasenya" [class.is-invalid]="contrasenya.invalid && contrasenya.touched" required/>
         <div *ngIf="contrasenya.errors && contrasenya.touched">
          <small class="text-danger" *ngIf="contrasenya.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="contrasenya.errors.minlength"> Este campo debe tener entre 3 y 20 carácteres</small>
        </div>
    </label>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
    <button [disabled]="loginForm.invalid"type="submit" class="submit">Log In</button>
   
  </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>Eres nuevo?</h2>
        <p>Registrate y empieza a descubrir temazos!</p>
      </div>
      <div class="img__text m--in">
        <h2>Ya estas registrado?</h2>
        <p>Si ya tienes una cuenta, logeate y descubre tu proxima playlist!</p>
      </div>
      <div class="img__btn">
        <span class="m--up" >Resgistrame</span>
        <span class="m--in">Log in</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Tiempo de nuevos temas</h2>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <form name="singUpForm" #singUpForm="ngForm" *ngIf ="!submitted" (ngSubmit)="singUp(nombre,apellido,email,fechaNacimiento,nombreUsuario,contrasenya, singUpForm)" validate>
        <label>
        <span>Nombre *</span>
        <input name="nombre"type="text" #nombre="ngModel" minlength="3" maxlength="10" pattern="[a-zA-ZñÑ]*"
         [(ngModel)]="loginService.selectedSingUp.nombre" [class.is-invalid]="nombre.invalid && nombre.touched" required/>
         <div *ngIf="nombre.errors && nombre.touched">
          <small class="text-danger" *ngIf="nombre.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="nombre.errors.pattern || nombreUsuario.errors.minlength"> Este campo debe tener entre 3 y 20 carácteres alfabéticos</small>
        </div>
      </label>
      <label>
        <span>Apellidos *</span>
        <input name="apellido"type="text" #apellido="ngModel" minlength="3" maxlength="10" pattern="[a-zA-ZñÑ]*"
        [class.is-invalid]="apellido.invalid && apellido.touched" [(ngModel)]="loginService.selectedSingUp.apellido" required/>
        <div *ngIf="apellido.errors && apellido.touched">
          <small class="text-danger" *ngIf="apellido.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="apellido.errors.pattern || nombreUsuario.errors.minlength"> Este campo debe tener entre 3 y 20 carácteres alfabéticos</small>
        </div>
      </label>
      <label>
        <span>Email *</span>
        <input type="email"  name="email" #email="ngModel" minlength="5" maxlength="25"  pattern="\S+@\S+\.\S+"
        [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="loginService.selectedSingUp.email" required/>
        <div *ngIf="email.errors && email.touched">
          <small class="text-danger" *ngIf="email.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="email.errors.pattern"> Este campo debe ser de tipo email</small>
        </div>
      </label>
      <label>
        <span>Fecha de Nacimiento *</span>
        <input name="fechaNacimiento"type="date" #fechaNacimiento="ngModel" value="" minlength="5" 
        [class.is-invalid]="fechaNacimiento.invalid && fechaNacimiento.touched" [(ngModel)]="loginService.selectedSingUp.fechaNacimiento" required/>
        <div *ngIf="fechaNacimiento.touched || fechaNacimiento.errors ">
          <small class="text-danger" *ngIf="fechaNacimiento.touched.required ">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="HttpErrorResponse">Hay errores</small>

        </div>
      </label>
      <label>
        <span>Imagen *</span>
        <br>
        <span><img [src]="imgSelected || '../../assets/noImage.jpg'" class="img-fluid" alt="No image" (click)="imagenElegida.click()" width="50%"></span>
        <input name="imagen"type="file"  class="d-none" (change)="imagenElegida($event)" #imagen="ngModel" value="" minlength="5" 
        [class.is-invalid]="imagen.invalid && imagen.touched" [(ngModel)]="loginService.selectedSingUp.imagen" required>
        <div *ngIf="imagen.touched || imagen.errors ">
          <small class="text-danger" *ngIf="imagen.touched.required ">Este campo es obligatorio</small>
        </div>
        
      </label>
    
      <label>
        <span>Nombre de Usuario *</span>    
        <input name="nombreUsuario"type="text" #nombreUsuario="ngModel" minlength="3" maxlength="20" pattern="[a-zA-ZñÑ]*"
           [(ngModel)]="loginService.selectedSingUp.nombreUsuario" [class.is-invalid]="nombreUsuario.invalid && nombreUsuario.touched" required/>
           <div *ngIf="nombreUsuario.errors && nombreUsuario.touched">
            <small class="text-danger" *ngIf="nombreUsuario.errors.required">Este campo es obligatorio</small>
            <small class="text-danger" *ngIf="nombreUsuario.errors.pattern || nombreUsuario.errors.minlength"> Este campo debe tener entre 3 y 20 carácteres alfabéticos</small>
          </div>
        </label>
      <label>
        <span>Contraseña *</span>
        <input name="contrasenya"type="password" #contrasenya="ngModel" minlength="3" maxlength="20" 
           [(ngModel)]="loginService.selectedSingUp.contrasenya" [class.is-invalid]="contrasenya.invalid && contrasenya.touched" required/>
           <div *ngIf="contrasenya.errors && contrasenya.touched">
            <small class="text-danger" *ngIf="contrasenya.errors.required">Este campo es obligatorio</small>
            <small class="text-danger" *ngIf="contrasenya.errors.minlength"> Este campo debe tener entre 3 y 20 carácteres</small>
          </div>
      </label>
      
      <button type="submit" class="submit">Sign Up</button>
    </form>
    </div>
  </div>
</div>
