
<div class="cont">
  <div class="form sign-in">
    <h2>Bienvenido</h2>
    <form name="loginForm" #loginForm="ngForm" (ngSumbit)="logIn(loginForm)" >
    <label>
      <span>Nombre de Usuario</span>
      <input name="nombreUsuario"type="text" #nombreUsusario="ngModel" [(ngModel)]="loginService.selectedLogin.nombreUsuario" >
    </label>
    <label>
      <span>Contraseña</span>
      <input  name="contrasenya" type="password"  #contrasenya="ngModel" [(ngModel)]="loginService.selectedLogin.contrasenya" />
    </label>

    <button (ngSumbit)="logIn(loginForm)" class="submit">Log In</button>
  </form>
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>Eres nuevo?</h2>
        <p>Registrate y empieza a descubrir temazos!</p>
      </div>
      <div class="img__text m--in">
        <h2>Ya estas registrado?</h2>
        <p>Si ya tienes una cuenta, logeate y descubre tu proxima playlist!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Resgistrame</span>
        <span class="m--in">Log in</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>Tiempo de nuevos temas</h2>
      <label>
        <span>Nombre</span>
        <input type="text" />
      </label>
      <label>
        <span>Apellidos</span>
        <input type="text" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" />
      </label>
      <label>
        <span>Nombre de Usuario</span>
        <input type="text" />
      </label>
      <label>
        <span>Fecha de Nacimiento</span>
        <input type="text" />
      </label>
      <label>
        <span>Password</span>
        <input type="password" />
      </label>
      <button type="button" class="submit">Sign Up</button>
      <button type="button" class="fb-btn">Join with <span>facebook</span></button>
    </div>
  </div>
</div>




