<footer>
    <div id="footer-wrapper">
    <div class="footer-limit" id="footer-limit">
    <div class="footer no-items section" id="footer-1"></div>
    </div>
    </div>
    <!-- Footer menu start -->
    <div class="footmenu">
    <div class="footer-menu section" id="Postwidegt3" name="Footer Menu"><div class="widget LinkList" data-version="1" id="LinkList101">
    <div class="widget-content">
    <ul>
    <li><a href="#" rel="nofollow" title="About">About</a></li>
    <li><a href="#" rel="nofollow" title="Contact">Contact</a></li>
    <li><a href="#" rel="nofollow" title="Disclaimer">Disclaimer</a></li>
    <li><a href="#" rel="nofollow" title="Privacy Policy">Privacy Policy</a></li>
    <li><a href="/p/lorem-ipsum-dolor-sit-amet-consectetur.html" rel="nofollow" title="Static">Static</a></li>
    <li><a href="/error-pages.html" rel="nofollow" title="Error 404">Error 404</a></li>
    </ul>
    </div>
    </div></div>
    </div>
    <!-- Footer menu end -->
    <!-- Footer credit start -->
    <div class="credit-wrapper"><div class="creditfooter">
    Copyright © 2021 <a href="https://github.com/alonsocn10/techcloud" title="Alonso Rodilla">Alonso Rodilla</a>. All Rights Reserved.
    </div>
    </div>
    <!-- Footer credit end -->
    </footer>