<div class="cont">
  <div class="form sign-in">
    <h2>Nuevo usuario</h2>
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{errorMsg}}
    </div>
    <form name="userForm" #userForm="ngForm" *ngIf ="!submitted" (ngSubmit)="newUser(userForm)" >
    <label>
      <span>Nombre *</span>
      <input name="nombre" type="text" #nombre="ngModel" pattern="^[a-zA-Z ]*$"  [class.is-invalid]="nombre.invalid && nombre.touched" 
      [(ngModel)]="usuarioService.selectedUsuario.nombre"  required
      minlength="4" maxlength="30"/>
      <div *ngIf="nombre.errors && nombre.touched">
        <small class="text-danger" *ngIf="nombre.errors.required">Este campo es obligatorio</small>
        <small class="text-danger" *ngIf="nombre.errors.pattern || nombre.errors.minlength || nombre.errors.maxlength">Este campo debe tener entre 4 y 30 carácteres alfabéticos</small>
      </div>
    </label>
    <label>
      <span>Apellido *</span>
      <input name="apellido" type="text" #apellido="ngModel" pattern="[a-zA-ZñÑ]*"  minlength="4" maxlength="20" [class.is-invalid]="apellido.invalid && apellido.touched"
       [(ngModel)]="usuarioService.selectedUsuario.apellido" required/>
       <div *ngIf="apellido.errors && apellido.touched">
        <small class="text-danger" *ngIf="apellido.errors.required">Este campo es obligatorio</small>
        <small class="text-danger" *ngIf="apellido.errors.pattern || apellido.errors.minlength || apellido.errors.maxlength">Este campo debe tener entre 4 y 30 carácteres alfabéticos</small>
      </div>
    </label>
    <label>
      <span>Email *</span>
      <input type="email"  name="email" #email="ngModel" minlength="5" maxlength="25"  pattern="\S+@\S+\.\S+"
      [class.is-invalid]="email.invalid && email.touched" [(ngModel)]="usuarioService.selectedUsuario.email" required/>
      <div *ngIf="email.errors && email.touched">
        <small class="text-danger" *ngIf="email.errors.required">Este campo es obligatorio</small>
        <small class="text-danger" *ngIf="email.errors.pattern"> Este campo debe ser de tipo email</small>
      </div>
    </label>
    <label>
      <span>Nombre de Usuario *</span>    
      <input name="nombreUsuario"type="text" #nombreUsuario="ngModel" minlength="3" maxlength="20" pattern="[a-zA-ZñÑ]*"
         [(ngModel)]="usuarioService.selectedUsuario.nombreUsuario" [class.is-invalid]="nombreUsuario.invalid && nombreUsuario.touched" required/>
         <div *ngIf="nombreUsuario.errors && nombreUsuario.touched">
          <small class="text-danger" *ngIf="nombreUsuario.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="nombreUsuario.errors.pattern || nombreUsuario.errors.minlength"> Este campo debe tener entre 3 y 20 carácteres alfabéticos</small>
        </div>
      </label>
      <label>
        <span>Contraseña *</span>
        <input name="contrasenya"type="password" #contrasenya="ngModel" minlength="3" maxlength="20" 
           [(ngModel)]="usuarioService.selectedUsuario.contrasenya" [class.is-invalid]="contrasenya.invalid && contrasenya.touched" required/>
           <div *ngIf="contrasenya.errors && contrasenya.touched">
            <small class="text-danger" *ngIf="contrasenya.errors.required">Este campo es obligatorio</small>
            <small class="text-danger" *ngIf="contrasenya.errors.minlength"> Este campo debe tener entre 3 y 20 carácteres</small>
          </div>
      </label>
    <label>
      <span>Fecha de Nacimiento *</span>
      <input name="fechaNacimiento"type="date" #fechaNacimiento="ngModel" value=""  
      [class.is-invalid]="fechaNacimiento.invalid && fechaNacimiento.touched" [(ngModel)]="usuarioService.selectedUsuario.fechaNacimiento" required/>
      <div *ngIf="fechaNacimiento.touched  ">
        <small class="text-danger" *ngIf="fechaNacimiento.touched.required ">Este campo es obligatorio</small>
      </div>
    </label>
    <label>
      <span>Tipo de Usuario *</span>
      <input name="tipoUsuario"type="number" value="1" #tipoUsuario="ngModel"   pattern="[1-2]?$" 
      [class.is-invalid]="tipoUsuario.invalid && tipoUsuario.touched" [(ngModel)]="usuarioService.selectedUsuario.tipoUsuario" required/>
      <div *ngIf="tipoUsuario.touched || tipoUsuario.errors ">
        <small class="text-danger" *ngIf="tipoUsuario.touched.required ">Este campo es obligatorio</small>
      </div>
    </label>
    <button  [disabled]="userForm.invalid" type="submit" class="submit">Guardar</button>
    <button type="button"   class="volver" routerLink="/usuarios">  Volver </button>

  </form>
    </div>
    </div>