
.container{    
    position: relative;
    text-align: center;
    align-items: center;
        
}
th,td{
    text-align: center;
}
button{
    display: inline-block;
    margin: 0.3em;
    padding: 0.3em;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    border: none; 
    font-size: 15px;
    text-align: center;
    background-color: unset;}
    .edit{
        color: rgb(7, 38, 124);
    }
    .delete{
        color: rgb(148, 5, 5);
    }
    .new{
        color: rgb(22, 148, 5);
    }
    a{         
        font-variant: normal;
    }
    .pdf{
        border: none;
        color: rgb(63, 64, 80);
    }
    .wrap { padding: 15px; }
h1 { font-size: 28px; }
h4,
modal-title { font-size: 18px; font-weight: bold; }

.no-borders { border: 0px; }
.body-message { font-size: 18px; }
.centered { text-align: center; }
.btn-danger { background-color: rgb(148, 5, 5);}
.btn-primary { background-color: #2086c1; border-color: transparent; }
.btn-primary:focus { outline: none; }
label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}
input,textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}
.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #17a31e;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.volver {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #b80f0f;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;}
a{
    color: white;
}
input, button, textarea {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
    
