
<div class="container">
  <div class="row">
    
            <table>
              <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Genero</th>
                <th>Acciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let artista of artistasService.artistas | paginate: { itemsPerPage: 10, currentPage: page }" >
                  <td>{{artista._id}}</td>
                  <td>{{artista.nombre}}</td>
                  <td>{{artista.genero}}</td>
                  <td><button  type="submit" (click)="editArtist(usuario)"><a routerLink="edit/" class="edit"><i class="material-icons">border_color</i></a></button>
                    <button  type="button" (click)="deleteArtist(artista._id)"  class="delete"><i class="material-icons">backspace</i></button>
                    <button type="submit"><a routerLink="/artistas/new" class="new"><i class="material-icons">add_circle</i></a></button>
  
                    </td>
  
  
                </tr>
              </tbody>  
          </table>
          
          <pagination-controls (pageChange)="page = $event"></pagination-controls>

          
 
  </div>
  </div>
  