<div class="wrapper">
	
  <div class="cols">
	
			<div class="col" ontouchstart="this.classList.toggle('hover');" *ngFor="let artista of artistasService.artistas | paginate: { itemsPerPage: 9, currentPage: page }" >
				<div class="container">
					<div class="front" style="background-image: url({{artista.imagen}})">
						<div class="inner">
							<p>{{artista.nombre}}</p>
              <span>{{artista.genero}}</span>
						</div>
					</div>
					<div class="back">
            <a routerLink="/artistas">
						<div class="inner">
						  <p>{{artista.descripcion}}</p>
            </div>
          </a>
					</div>
				</div>
			</div>
			<pagination-controls (pageChange)="page = $event"></pagination-controls>
 </div>