
<div class="container">
  <!-- User Card-->
  <div class="card" *ngFor="let artista of artistasService.artistas">
    <!-- Header -->
    <div class="card-header">
      <div class="card-header__avatar"></div><a href="#" class="card-header__follow">Follow</a>
    </div>
    <!-- Content-->
    <div class="card-content">
      <div class="card-content__username"></div>
      <div class="card-content__bio"></div>
    </div>
    <!-- Footer-->
    <div class="card-footer">
       
        <div class="label">Ver Más</div>
      </div>
      </div>
    </div>
  </div>
</div>