<div class="content-wrapper">
  
	<div class="news-card" *ngFor="let artista of artistasService.artistas | paginate: { itemsPerPage: 9, currentPage: page }">
	  <a href="#" class="news-card__card-link"></a>
	  <img [src]="'http://localhost:3000/' + artista.imagen" alt="" class="news-card__image">
	  <div class="news-card__text-wrapper">
		<h2 class="news-card__title">{{artista.nombre}}</h2>
		<div class="news-card__post-name">{{artista.genero}}</div>
		<div class="news-card__details-wrapper">
		  <p class="news-card__excerpt">{{artista.descripcion}}</p>
		  <a routerLink="/artistas" class="news-card__read-more">Ver Mas <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
	  </div>
	</div>
	<pagination-controls (pageChange)="page = $event"></pagination-controls>

  
  </div>