<div class="cont">
    <div class="form sign-in">
      <h2>Nuevo Artista</h2>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
      <form name="artistForm" #artistForm="ngForm" *ngIf ="!submitted" (ngSubmit)="newArtist(nombre,genero,descripcion,artistForm)" >
      <label>
        <span>Nombre</span>
        <input name="nombre" type="text" #nombre="ngModel" pattern="^[a-zA-Z ]*$"  [class.is-invalid]="nombre.invalid && nombre.touched" 
        [(ngModel)]="artistasService.selectedArtista.nombre"  required
        minlength="4" maxlength="30"/>
        <div *ngIf="nombre.errors && nombre.touched">
          <small class="text-danger" *ngIf="nombre.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="nombre.errors.pattern || nombre.errors.minlength || nombre.errors.maxlength">Este campo debe tener entre 4 y 30 carácteres alfabéticos</small>
        </div>
      </label>
      <label>
        <span>Genero</span>
          <select name="genero" class="form-select"  id="genero"  [(ngModel)]="artistasService.selectedArtista.genero"  #genero="ngModel" [class.is-invalid]="genero.invalid && genero.touched" required>
            <option  class="dropdown-item "*ngFor="let genero of generosService.generos" value="{{genero.nombre}}">Nombre: {{genero.nombre}} | tipo: {{genero.tipo}}</option>
            
          </select>
         <div *ngIf="genero.errors && genero.touched">
          <small class="text-danger" *ngIf="genero.errors.required">Este campo es obligatorio</small>
          <small class="text-danger" *ngIf="genero.errors.pattern || genero.errors.minlength || genero.errors.maxlength">Este campo debe tener entre 4 y 30 carácteres alfabéticos</small>
        </div>
      </label>
      <label>
        <span>Descripción</span>
        <textarea  name="descripcion" type="text" #descripcion="ngModel" [(ngModel)]="artistasService.selectedArtista.descripcion"  minlength="4" maxlength="150" 
         [class.is-invalid]="descripcion.invalid && descripcion.touched"  required>
      </textarea>
      <div *ngIf="descripcion.errors && descripcion.touched">
        <small class="text-danger" *ngIf="descripcion.errors.required">Este campo es obligatorio</small>
        <small class="text-danger" *ngIf="descripcion.errors.minlength || descripcion.errors.maxlength">Este campo debe tener entre 4 y 30 carácteres alfabéticos</small>
      </div>
      </label>
      <label>
        <span>Imagen *</span>
        <span><img [src]="imgSelected || '../../assets/noImage.jpg'" class="img-fluid" alt="No image" (click)="imagenElegida.click()"></span>
        <input name="imagen"type="file"  class="d-none" (change)="imagenElegida($event)" #imagen="ngModel" value="" minlength="5" 
        [class.is-invalid]="imagen.invalid && imagen.touched" [(ngModel)]="artistasService.selectedArtista.imagen" required>
        <div *ngIf="imagen.touched || imagen.errors ">
          <small class="text-danger" *ngIf="imagen.touched.required ">Este campo es obligatorio</small>
        </div>
        
      </label>
      <button  [disabled]="artistForm.invalid" type="submit" class="submit">Guardar</button>
      <button type="button"   class="volver"> <a routerLink="/artistas"> Volver </a> </button>

    </form>
      </div>
      </div>
